* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}
a {
  color: #333;
  text-decoration: none;
}
.todo-li {
  background-color: #f1f;
  color: aliceblue;
}
.header-box {
  border: 1px double black;
  text-align: center;
  background-image: linear-gradient(10deg, black, cornflowerblue);
}
.header-text{
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  align-items: center;
  padding: 5px;
  font-size: 25px;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.link-text{
  color: white;
}
.add-todo {
  padding: 5px;
  box-shadow: 5px;
}
.add-todo-input {
  /* width: 90%; */
  height: 30px;
  border-radius: 10px; 
}
.add-todo-btn {
  /* width: 8%; */
  height: 30px;
  border-radius: 10px; 
  margin-left: 10px;
  background-image: linear-gradient(10deg, black, cornflowerblue);
  text-shadow: 1px 1px 2px white, 0 0 25px blue, 0 0 5px darkblue;
  color: white;
  cursor: pointer;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}